<div class=" banner">
    <h1 class="banner">
    <img src="../../../assets/home2.png" alt="banner"></h1>
</div>
<div class="container">
    <h1 class="title">
        BIENVENIDOS
        <br> A MI TIENDA
        <span class="midil_img">
            <img src="../../../assets/home.png" alt="Tienda virtual">
        </span>
       <br> VIRTUAL!!
    </h1>
    <h2 class="subtitle">¡Bienvenido a nuestra tienda virtual, donde la moda y el estilo se encuentran a solo un clic de distancia! Sumérgete en
    un mundo de tendencias y elegancia mientras exploras nuestra amplia selección de prendas y accesorios cuidadosamente
    seleccionados para satisfacer tus gustos más exigentes..
    <br>
    <br>¡Bienvenido a tu destino de moda en línea!
    </h2>
</div>